 
.t2 {
    margin-top: 2em;
}

.btn1 {
    /* margin-right: 1em; */
    margin-bottom: 1em;
    margin-top: 1em;
}

.tableau {
    margin-top: 7em;
}

header.masthead {
    /* padding-top: 10.5rem; */
    /* padding-bottom: 6rem; */
    text-align: center;
    background-image: url("/CSS/wp2337017.webp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}