.body {
    /* padding: 50px; */
    font: 13px Helvetica, Arial, sans-serif;
    background-color: #131313;
    color: #b4632a;
  }

.navbar-brand {
    color: #b4632a!important;
}

.btn {
    /* color: white!important; */
    color: white!important;
    background-color: #b4632a;
    border-color : #b4632a;
}
.btn:hover{
    background-color: #b4632a;
    border-color : white;
}