<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="CSS/dns.svg" />
    <!-- Vue js -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="CSS/styles.css" rel="stylesheet" />
    <!-- js -->
    <script type="text/javascript" src="/JS/connexionMetamask.js"></script>
    <!-- <script> import Web3 from 'web3'</script> -->
    <title><%= title %></title>
    <style>
      body {
        /* padding: 50px; */
        font: 13px Helvetica, Arial, sans-serif;
        background-color: #131313;
        color: #b4632a;
      }
      .error {
          color: red
      }
      .success {
          color: #FFD700;
      }
    </style>
  </head>
  <body>
