<%- include('head', { title: 'Authentication Example' }) -%>


<header class="masthead">
  <%- message %>


<p id="connectButton"></p>
<p id="adressePublique"></p>
  <div class="text-center">
    <button class="btn btn-primary btn-xl text-uppercase" onclick="connectMetaMask()">Connexion</button>
    <h2 class="section-heading text-uppercase">Explications</h2>
    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
  </div>
  <button class="btn btn-primary btn-xl text-uppercase" onclick="connectSolidity()">Connexion sol</button>
</header>
<%- include('foot') -%>
