<%- include('head', { title: 'Authentication Example' }) -%>
<header class="masthead">
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DNS On Blockchain</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-primary btn-l text-uppercase btn1" onclick="deconnect()">Acheter un nom de domaine</button>
        </li>
        <!-- <li class="nav-item d-flex">
          <button type class="btn btn-primary btn-l text-uppercase btn1" onclick="deconnect()">Déconnexion</button>
        </li> -->
      </ul>
    </div>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item ">
          <button type class="btn btn-primary btn-l text-uppercase btn1" onclick="deconnect()">Déconnexion</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="text-center">
  <h1 class="section-heading text-uppercase">DNS on Blockchain</h1>
  <h2 class="section-heading text-uppercase t2">Compte <%- message %></h2>
</div>
</header>
<div class="text-center tableau">
  <h3 class="section-subheading text-muted">Noms de domaines et IP :</h3>
    <br>
    <table class="table table-striped container">
        <thead >
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom de domaine</th>
            <th scope="col">Adresse IP</th>
            <th scope="col">Update</th>
            <th scope="col">Revendre</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr>
            <th scope="row">1</th>
            <td>google.com</td>
            <td>8.8.8.8</td>
            <td><button class="btn btn-primary text-uppercase" onclick="">Update</button></td>
            <td><button class="btn btn-primary text-uppercase" onclick="">Revendre</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
          </tr>
        </tbody> -->
      </table>
  </div>


<%- include('foot') -%>